@font-face {font-family: "svgtofont";
  src: url('svgtofont.eot?t=1719003173298'); /* IE9*/
  src: url('svgtofont.eot?t=1719003173298#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("svgtofont.woff2?t=1719003173298") format("woff2"),
  url("svgtofont.woff?t=1719003173298") format("woff"),
  url('svgtofont.ttf?t=1719003173298') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('svgtofont.svg?t=1719003173298#svgtofont') format('svg'); /* iOS 4.1- */
}

[class^="svgtofont-"], [class*=" svgtofont-"] {
  font-family: 'svgtofont' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgtofont-2fa-guardian:before { content: "\ea01"; }
.svgtofont-3d-avatar-center-seflie:before { content: "\ea02"; }
.svgtofont-3d-avatar-left-selfie:before { content: "\ea03"; }
.svgtofont-3d-avatar-right-selfie:before { content: "\ea04"; }
.svgtofont-MEX:before { content: "\ea05"; }
.svgtofont-QR:before { content: "\ea06"; }
.svgtofont-achievement-fill:before { content: "\ea07"; }
.svgtofont-achievement:before { content: "\ea08"; }
.svgtofont-active:before { content: "\ea09"; }
.svgtofont-address-book:before { content: "\ea0a"; }
.svgtofont-allow-notifications-icon:before { content: "\ea0b"; }
.svgtofont-announcement-badge:before { content: "\ea0c"; }
.svgtofont-apple-pay:before { content: "\ea0d"; }
.svgtofont-apple-wallet:before { content: "\ea0e"; }
.svgtofont-ar_icon:before { content: "\ea0f"; }
.svgtofont-arrow-down copy:before { content: "\ea10"; }
.svgtofont-arrow-down-a-z:before { content: "\ea11"; }
.svgtofont-arrow-down-full:before { content: "\ea12"; }
.svgtofont-arrow-down-simple:before { content: "\ea13"; }
.svgtofont-arrow-down:before { content: "\ea14"; }
.svgtofont-arrow-left-chevron:before { content: "\ea15"; }
.svgtofont-arrow-left:before { content: "\ea16"; }
.svgtofont-arrow-right-chevron:before { content: "\ea17"; }
.svgtofont-arrow-right-from-bracket:before { content: "\ea18"; }
.svgtofont-arrow-right:before { content: "\ea19"; }
.svgtofont-arrow-trend-up:before { content: "\ea1a"; }
.svgtofont-arrow-up copy:before { content: "\ea1b"; }
.svgtofont-arrow-up-simple:before { content: "\ea1c"; }
.svgtofont-arrow-up-to-line:before { content: "\ea1d"; }
.svgtofont-arrow-up:before { content: "\ea1e"; }
.svgtofont-arrow:before { content: "\ea1f"; }
.svgtofont-asterix:before { content: "\ea20"; }
.svgtofont-attention:before { content: "\ea21"; }
.svgtofont-avatar-direction-arrow:before { content: "\ea22"; }
.svgtofont-avatar-new-style-notification-icon:before { content: "\ea23"; }
.svgtofont-avatar-notification-icon:before { content: "\ea24"; }
.svgtofont-avatar-training-notification-icon:before { content: "\ea25"; }
.svgtofont-avatar:before { content: "\ea26"; }
.svgtofont-backup copy:before { content: "\ea27"; }
.svgtofont-backup-warning-icon:before { content: "\ea28"; }
.svgtofont-backup:before { content: "\ea29"; }
.svgtofont-balance-eye:before { content: "\ea2a"; }
.svgtofont-ban:before { content: "\ea2b"; }
.svgtofont-bars-sort-by:before { content: "\ea2c"; }
.svgtofont-bars:before { content: "\ea2d"; }
.svgtofont-bell-1:before { content: "\ea2e"; }
.svgtofont-bell-slash:before { content: "\ea2f"; }
.svgtofont-bell:before { content: "\ea30"; }
.svgtofont-bell_empty:before { content: "\ea31"; }
.svgtofont-binance:before { content: "\ea32"; }
.svgtofont-binanceCustomIcon:before { content: "\ea33"; }
.svgtofont-bitcoin:before { content: "\ea34"; }
.svgtofont-bitcoinCustomIcon:before { content: "\ea35"; }
.svgtofont-blog-post:before { content: "\ea36"; }
.svgtofont-bolt-slash:before { content: "\ea37"; }
.svgtofont-bolt:before { content: "\ea38"; }
.svgtofont-bronze:before { content: "\ea39"; }
.svgtofont-bsc:before { content: "\ea3a"; }
.svgtofont-building-columns:before { content: "\ea3b"; }
.svgtofont-buy-status:before { content: "\ea3c"; }
.svgtofont-calendar-sign:before { content: "\ea3d"; }
.svgtofont-calendar-xmark-sign:before { content: "\ea3e"; }
.svgtofont-calendar:before { content: "\ea3f"; }
.svgtofont-camera-button:before { content: "\ea40"; }
.svgtofont-camera:before { content: "\ea41"; }
.svgtofont-card copy:before { content: "\ea42"; }
.svgtofont-card-item-icon:before { content: "\ea43"; }
.svgtofont-card-kyc:before { content: "\ea44"; }
.svgtofont-card-trans-entertainment:before { content: "\ea45"; }
.svgtofont-card-trans-groceries:before { content: "\ea46"; }
.svgtofont-card-trans-health:before { content: "\ea47"; }
.svgtofont-card-trans-refund:before { content: "\ea48"; }
.svgtofont-card-trans-restaurants:before { content: "\ea49"; }
.svgtofont-card-trans-services:before { content: "\ea4a"; }
.svgtofont-card-trans-shopping:before { content: "\ea4b"; }
.svgtofont-card-trans-transport:before { content: "\ea4c"; }
.svgtofont-card-trans-travel:before { content: "\ea4d"; }
.svgtofont-card-trans-utilities:before { content: "\ea4e"; }
.svgtofont-card-trans-withdrawal:before { content: "\ea4f"; }
.svgtofont-card:before { content: "\ea50"; }
.svgtofont-carret-down:before { content: "\ea51"; }
.svgtofont-carret-up:before { content: "\ea52"; }
.svgtofont-cash-filled:before { content: "\ea53"; }
.svgtofont-cash-outline:before { content: "\ea54"; }
.svgtofont-cashback:before { content: "\ea55"; }
.svgtofont-catalaFlag:before { content: "\ea56"; }
.svgtofont-chainActivity:before { content: "\ea57"; }
.svgtofont-chains:before { content: "\ea58"; }
.svgtofont-chart-mixed:before { content: "\ea59"; }
.svgtofont-chart-pie-inversed:before { content: "\ea5a"; }
.svgtofont-chart-pie-simple:before { content: "\ea5b"; }
.svgtofont-chat-icon-settings:before { content: "\ea5c"; }
.svgtofont-chat-toolbar:before { content: "\ea5d"; }
.svgtofont-chat:before { content: "\ea5e"; }
.svgtofont-chatIcon:before { content: "\ea5f"; }
.svgtofont-check-badge:before { content: "\ea60"; }
.svgtofont-check-sign:before { content: "\ea61"; }
.svgtofont-check-thin:before { content: "\ea62"; }
.svgtofont-check:before { content: "\ea63"; }
.svgtofont-check_mark_badge:before { content: "\ea64"; }
.svgtofont-checkbox-checked:before { content: "\ea65"; }
.svgtofont-checkbox-unchecked:before { content: "\ea66"; }
.svgtofont-checked-nft:before { content: "\ea67"; }
.svgtofont-checkmark-bold:before { content: "\ea68"; }
.svgtofont-chevron-down:before { content: "\ea69"; }
.svgtofont-chevron-left:before { content: "\ea6a"; }
.svgtofont-chevron-right:before { content: "\ea6b"; }
.svgtofont-chevron:before { content: "\ea6c"; }
.svgtofont-chevronDown:before { content: "\ea6d"; }
.svgtofont-circle-check-filled:before { content: "\ea6e"; }
.svgtofont-circle-check-group-filled:before { content: "\ea6f"; }
.svgtofont-circle-check-group:before { content: "\ea70"; }
.svgtofont-circle-check:before { content: "\ea71"; }
.svgtofont-circle-clock:before { content: "\ea72"; }
.svgtofont-circle-close:before { content: "\ea73"; }
.svgtofont-circle-exclamation:before { content: "\ea74"; }
.svgtofont-circle-question:before { content: "\ea75"; }
.svgtofont-circle-warning:before { content: "\ea76"; }
.svgtofont-circle-xmark:before { content: "\ea77"; }
.svgtofont-clipboard-paste-arrow:before { content: "\ea78"; }
.svgtofont-clipboard:before { content: "\ea79"; }
.svgtofont-clock-alt:before { content: "\ea7a"; }
.svgtofont-clock:before { content: "\ea7b"; }
.svgtofont-coin-ghost:before { content: "\ea7c"; }
.svgtofont-coin-placeholder:before { content: "\ea7d"; }
.svgtofont-coins-icon:before { content: "\ea7e"; }
.svgtofont-coins-right:before { content: "\ea7f"; }
.svgtofont-copy:before { content: "\ea80"; }
.svgtofont-country:before { content: "\ea81"; }
.svgtofont-cover-photo:before { content: "\ea82"; }
.svgtofont-create-3d-avatar:before { content: "\ea83"; }
.svgtofont-credit-card:before { content: "\ea84"; }
.svgtofont-crown:before { content: "\ea85"; }
.svgtofont-crypto-filled:before { content: "\ea86"; }
.svgtofont-crypto-outline:before { content: "\ea87"; }
.svgtofont-crypto:before { content: "\ea88"; }
.svgtofont-currency:before { content: "\ea89"; }
.svgtofont-custom-notification:before { content: "\ea8a"; }
.svgtofont-customization:before { content: "\ea8b"; }
.svgtofont-dark:before { content: "\ea8c"; }
.svgtofont-deafault_coin_logo:before { content: "\ea8d"; }
.svgtofont-default-logo-elrond:before { content: "\ea8e"; }
.svgtofont-default-logo-meta:before { content: "\ea8f"; }
.svgtofont-delete-icon:before { content: "\ea90"; }
.svgtofont-delete-width-border:before { content: "\ea91"; }
.svgtofont-delete:before { content: "\ea92"; }
.svgtofont-description:before { content: "\ea93"; }
.svgtofont-desktop:before { content: "\ea94"; }
.svgtofont-diamond:before { content: "\ea95"; }
.svgtofont-discover-filled:before { content: "\ea96"; }
.svgtofont-discover-outline:before { content: "\ea97"; }
.svgtofont-document-check:before { content: "\ea98"; }
.svgtofont-document-shield:before { content: "\ea99"; }
.svgtofont-doge:before { content: "\ea9a"; }
.svgtofont-dollar-full-sign:before { content: "\ea9b"; }
.svgtofont-dollar-sign:before { content: "\ea9c"; }
.svgtofont-dots-h:before { content: "\ea9d"; }
.svgtofont-dots:before { content: "\ea9e"; }
.svgtofont-download:before { content: "\ea9f"; }
.svgtofont-eGold:before { content: "\eaa0"; }
.svgtofont-editAddress:before { content: "\eaa1"; }
.svgtofont-egld-round-background:before { content: "\eaa2"; }
.svgtofont-egld:before { content: "\eaa3"; }
.svgtofont-egldCustomIcon:before { content: "\eaa4"; }
.svgtofont-ellipsis:before { content: "\eaa5"; }
.svgtofont-ellipsisVertical:before { content: "\eaa6"; }
.svgtofont-email:before { content: "\eaa7"; }
.svgtofont-empty-star:before { content: "\eaa8"; }
.svgtofont-empty-state-portfolio:before { content: "\eaa9"; }
.svgtofont-equals:before { content: "\eaaa"; }
.svgtofont-error-badge:before { content: "\eaab"; }
.svgtofont-error:before { content: "\eaac"; }
.svgtofont-ethereum:before { content: "\eaad"; }
.svgtofont-ethereumCustomIcon:before { content: "\eaae"; }
.svgtofont-euro:before { content: "\eaaf"; }
.svgtofont-euskaraFlag:before { content: "\eab0"; }
.svgtofont-exchange:before { content: "\eab1"; }
.svgtofont-exclamation:before { content: "\eab2"; }
.svgtofont-exclamation_mark:before { content: "\eab3"; }
.svgtofont-experimental-icon:before { content: "\eab4"; }
.svgtofont-expired-gift:before { content: "\eab5"; }
.svgtofont-external-link:before { content: "\eab6"; }
.svgtofont-eye-filled:before { content: "\eab7"; }
.svgtofont-eye-gray:before { content: "\eab8"; }
.svgtofont-eye-hidden:before { content: "\eab9"; }
.svgtofont-eye-outlined:before { content: "\eaba"; }
.svgtofont-eye:before { content: "\eabb"; }
.svgtofont-face-id:before { content: "\eabc"; }
.svgtofont-faceId:before { content: "\eabd"; }
.svgtofont-failed-icon:before { content: "\eabe"; }
.svgtofont-failed-status:before { content: "\eabf"; }
.svgtofont-fee-icon:before { content: "\eac0"; }
.svgtofont-female:before { content: "\eac1"; }
.svgtofont-file-icon:before { content: "\eac2"; }
.svgtofont-file:before { content: "\eac3"; }
.svgtofont-fill-heart:before { content: "\eac4"; }
.svgtofont-filter:before { content: "\eac5"; }
.svgtofont-find-friends:before { content: "\eac6"; }
.svgtofont-fingerprint:before { content: "\eac7"; }
.svgtofont-fire-flame-curved:before { content: "\eac8"; }
.svgtofont-fire-flame-filled:before { content: "\eac9"; }
.svgtofont-fire-notification:before { content: "\eaca"; }
.svgtofont-flag:before { content: "\eacb"; }
.svgtofont-follow:before { content: "\eacc"; }
.svgtofont-four-dots:before { content: "\eacd"; }
.svgtofont-friend-request:before { content: "\eace"; }
.svgtofont-friends:before { content: "\eacf"; }
.svgtofont-full-arrow:before { content: "\ead0"; }
.svgtofont-galegoFlag:before { content: "\ead1"; }
.svgtofont-gear:before { content: "\ead2"; }
.svgtofont-gem:before { content: "\ead3"; }
.svgtofont-gift-card:before { content: "\ead4"; }
.svgtofont-gift-filled:before { content: "\ead5"; }
.svgtofont-gift-outline:before { content: "\ead6"; }
.svgtofont-gift:before { content: "\ead7"; }
.svgtofont-globe:before { content: "\ead8"; }
.svgtofont-gold:before { content: "\ead9"; }
.svgtofont-google-pay:before { content: "\eada"; }
.svgtofont-guarded-backup:before { content: "\eadb"; }
.svgtofont-guarded-wallet:before { content: "\eadc"; }
.svgtofont-guardian-alert-badge:before { content: "\eadd"; }
.svgtofont-guardian-alert:before { content: "\eade"; }
.svgtofont-guardian-ready:before { content: "\eadf"; }
.svgtofont-guardian:before { content: "\eae0"; }
.svgtofont-guardians:before { content: "\eae1"; }
.svgtofont-hammer-law:before { content: "\eae2"; }
.svgtofont-hashtag:before { content: "\eae3"; }
.svgtofont-heart:before { content: "\eae4"; }
.svgtofont-help-chat:before { content: "\eae5"; }
.svgtofont-help-circle-2:before { content: "\eae6"; }
.svgtofont-help-circle-settings:before { content: "\eae7"; }
.svgtofont-help:before { content: "\eae8"; }
.svgtofont-herotag-icon:before { content: "\eae9"; }
.svgtofont-herotag:before { content: "\eaea"; }
.svgtofont-hidden-eye:before { content: "\eaeb"; }
.svgtofont-hourglass-shape:before { content: "\eaec"; }
.svgtofont-hub:before { content: "\eaed"; }
.svgtofont-icon-circle-check-v2:before { content: "\eaee"; }
.svgtofont-icon-circle-check:before { content: "\eaef"; }
.svgtofont-icon-circle-flag:before { content: "\eaf0"; }
.svgtofont-icon-circle-x-v2:before { content: "\eaf1"; }
.svgtofont-icon-circle-x:before { content: "\eaf2"; }
.svgtofont-icon-wand:before { content: "\eaf3"; }
.svgtofont-iconRight:before { content: "\eaf4"; }
.svgtofont-id:before { content: "\eaf5"; }
.svgtofont-image-alt-icon:before { content: "\eaf6"; }
.svgtofont-image-icon:before { content: "\eaf7"; }
.svgtofont-income:before { content: "\eaf8"; }
.svgtofont-info-circle-settings:before { content: "\eaf9"; }
.svgtofont-info-circle-solid:before { content: "\eafa"; }
.svgtofont-info-circle:before { content: "\eafb"; }
.svgtofont-info-gray:before { content: "\eafc"; }
.svgtofont-info-new:before { content: "\eafd"; }
.svgtofont-input-error:before { content: "\eafe"; }
.svgtofont-input-success:before { content: "\eaff"; }
.svgtofont-input-warn:before { content: "\eb00"; }
.svgtofont-insider-icon:before { content: "\eb01"; }
.svgtofont-internal-status:before { content: "\eb02"; }
.svgtofont-internal-transaction:before { content: "\eb03"; }
.svgtofont-invisible-guardian:before { content: "\eb04"; }
.svgtofont-key:before { content: "\eb05"; }
.svgtofont-kraken:before { content: "\eb06"; }
.svgtofont-kyc:before { content: "\eb07"; }
.svgtofont-language:before { content: "\eb08"; }
.svgtofont-learn:before { content: "\eb09"; }
.svgtofont-level-up:before { content: "\eb0a"; }
.svgtofont-light-bulb:before { content: "\eb0b"; }
.svgtofont-light:before { content: "\eb0c"; }
.svgtofont-link:before { content: "\eb0d"; }
.svgtofont-list-ul:before { content: "\eb0e"; }
.svgtofont-location:before { content: "\eb0f"; }
.svgtofont-lock-1:before { content: "\eb10"; }
.svgtofont-lock-2:before { content: "\eb11"; }
.svgtofont-lock-filled:before { content: "\eb12"; }
.svgtofont-lock-round-background:before { content: "\eb13"; }
.svgtofont-lock-switch:before { content: "\eb14"; }
.svgtofont-lock:before { content: "\eb15"; }
.svgtofont-locked-indicator:before { content: "\eb16"; }
.svgtofont-locker:before { content: "\eb17"; }
.svgtofont-lockerMouth:before { content: "\eb18"; }
.svgtofont-log-out:before { content: "\eb19"; }
.svgtofont-logo-foreground-error:before { content: "\eb1a"; }
.svgtofont-logo-foreground-pending:before { content: "\eb1b"; }
.svgtofont-logo-foreground:before { content: "\eb1c"; }
.svgtofont-logo-full:before { content: "\eb1d"; }
.svgtofont-lowest-price:before { content: "\eb1e"; }
.svgtofont-lowest-rank:before { content: "\eb1f"; }
.svgtofont-male:before { content: "\eb20"; }
.svgtofont-map-address:before { content: "\eb21"; }
.svgtofont-market-outline:before { content: "\eb22"; }
.svgtofont-market:before { content: "\eb23"; }
.svgtofont-mastercard-idcheck:before { content: "\eb24"; }
.svgtofont-mastercard-logo:before { content: "\eb25"; }
.svgtofont-message-square-1:before { content: "\eb26"; }
.svgtofont-message-square:before { content: "\eb27"; }
.svgtofont-message:before { content: "\eb28"; }
.svgtofont-messages:before { content: "\eb29"; }
.svgtofont-minus-dash:before { content: "\eb2a"; }
.svgtofont-mobile-notch-1:before { content: "\eb2b"; }
.svgtofont-mobile-notch:before { content: "\eb2c"; }
.svgtofont-modal-illustrations:before { content: "\eb2d"; }
.svgtofont-money-bill-wave:before { content: "\eb2e"; }
.svgtofont-moon:before { content: "\eb2f"; }
.svgtofont-mx-icon:before { content: "\eb30"; }
.svgtofont-mystery-box-reward-icon:before { content: "\eb31"; }
.svgtofont-mystery_box:before { content: "\eb32"; }
.svgtofont-mystery_box_opened:before { content: "\eb33"; }
.svgtofont-network:before { content: "\eb34"; }
.svgtofont-nft-burn-badge:before { content: "\eb35"; }
.svgtofont-nft-claim-badge:before { content: "\eb36"; }
.svgtofont-nft-fallback:before { content: "\eb37"; }
.svgtofont-nft:before { content: "\eb38"; }
.svgtofont-nfts-counter:before { content: "\eb39"; }
.svgtofont-no-fire:before { content: "\eb3a"; }
.svgtofont-no-notifications-icon:before { content: "\eb3b"; }
.svgtofont-note-sign:before { content: "\eb3c"; }
.svgtofont-notifications:before { content: "\eb3d"; }
.svgtofont-paste:before { content: "\eb3e"; }
.svgtofont-path:before { content: "\eb3f"; }
.svgtofont-pencil-edit:before { content: "\eb40"; }
.svgtofont-pencil:before { content: "\eb41"; }
.svgtofont-pending-badge:before { content: "\eb42"; }
.svgtofont-pending-status:before { content: "\eb43"; }
.svgtofont-personal-data:before { content: "\eb44"; }
.svgtofont-pin:before { content: "\eb45"; }
.svgtofont-plane-filled:before { content: "\eb46"; }
.svgtofont-plane:before { content: "\eb47"; }
.svgtofont-play-filled:before { content: "\eb48"; }
.svgtofont-play-outline:before { content: "\eb49"; }
.svgtofont-play:before { content: "\eb4a"; }
.svgtofont-plus-circle:before { content: "\eb4b"; }
.svgtofont-plus-icon:before { content: "\eb4c"; }
.svgtofont-plus:before { content: "\eb4d"; }
.svgtofont-political-exposure:before { content: "\eb4e"; }
.svgtofont-polygon:before { content: "\eb4f"; }
.svgtofont-price-down-badge:before { content: "\eb50"; }
.svgtofont-price-up-badge:before { content: "\eb51"; }
.svgtofont-privacy:before { content: "\eb52"; }
.svgtofont-profile-picture:before { content: "\eb53"; }
.svgtofont-progress:before { content: "\eb54"; }
.svgtofont-protected:before { content: "\eb55"; }
.svgtofont-public-account:before { content: "\eb56"; }
.svgtofont-quest-default:before { content: "\eb57"; }
.svgtofont-quotes:before { content: "\eb58"; }
.svgtofont-radio-circle:before { content: "\eb59"; }
.svgtofont-receipt-outlined:before { content: "\eb5a"; }
.svgtofont-receipt:before { content: "\eb5b"; }
.svgtofont-receive-crypto-icons:before { content: "\eb5c"; }
.svgtofont-receive-with-background:before { content: "\eb5d"; }
.svgtofont-received-gift:before { content: "\eb5e"; }
.svgtofont-recents:before { content: "\eb5f"; }
.svgtofont-refresh:before { content: "\eb60"; }
.svgtofont-registration-fee:before { content: "\eb61"; }
.svgtofont-reload:before { content: "\eb62"; }
.svgtofont-repair-icon:before { content: "\eb63"; }
.svgtofont-report:before { content: "\eb64"; }
.svgtofont-reward-badge:before { content: "\eb65"; }
.svgtofont-rewards:before { content: "\eb66"; }
.svgtofont-ron:before { content: "\eb67"; }
.svgtofont-rotate-left:before { content: "\eb68"; }
.svgtofont-rotate-right:before { content: "\eb69"; }
.svgtofont-rounded-corners-icon:before { content: "\eb6a"; }
.svgtofont-save-no-color:before { content: "\eb6b"; }
.svgtofont-save-to-photos:before { content: "\eb6c"; }
.svgtofont-save:before { content: "\eb6d"; }
.svgtofont-saved-no-color:before { content: "\eb6e"; }
.svgtofont-saved:before { content: "\eb6f"; }
.svgtofont-savedAddresses:before { content: "\eb70"; }
.svgtofont-scan:before { content: "\eb71"; }
.svgtofont-scanQR:before { content: "\eb72"; }
.svgtofont-search:before { content: "\eb73"; }
.svgtofont-selected-circle:before { content: "\eb74"; }
.svgtofont-selectedCheck:before { content: "\eb75"; }
.svgtofont-sell-status:before { content: "\eb76"; }
.svgtofont-send-exchange:before { content: "\eb77"; }
.svgtofont-send-message:before { content: "\eb78"; }
.svgtofont-send-nft:before { content: "\eb79"; }
.svgtofont-send-wit-background:before { content: "\eb7a"; }
.svgtofont-send:before { content: "\eb7b"; }
.svgtofont-sent-gift:before { content: "\eb7c"; }
.svgtofont-sent-status:before { content: "\eb7d"; }
.svgtofont-set-as-avatar:before { content: "\eb7e"; }
.svgtofont-set-nft:before { content: "\eb7f"; }
.svgtofont-set-photo:before { content: "\eb80"; }
.svgtofont-settings-filled:before { content: "\eb81"; }
.svgtofont-settings:before { content: "\eb82"; }
.svgtofont-share-native:before { content: "\eb83"; }
.svgtofont-share:before { content: "\eb84"; }
.svgtofont-shield-check:before { content: "\eb85"; }
.svgtofont-shield-keyhole 1:before { content: "\eb86"; }
.svgtofont-shield-keyhole:before { content: "\eb87"; }
.svgtofont-shield:before { content: "\eb88"; }
.svgtofont-shopping-bag:before { content: "\eb89"; }
.svgtofont-signOut:before { content: "\eb8a"; }
.svgtofont-signature:before { content: "\eb8b"; }
.svgtofont-silver:before { content: "\eb8c"; }
.svgtofont-simple-flag:before { content: "\eb8d"; }
.svgtofont-small-check-circle-mint:before { content: "\eb8e"; }
.svgtofont-solana:before { content: "\eb8f"; }
.svgtofont-sort-by:before { content: "\eb90"; }
.svgtofont-square-question:before { content: "\eb91"; }
.svgtofont-stake-notification-icon:before { content: "\eb92"; }
.svgtofont-star-badge:before { content: "\eb93"; }
.svgtofont-star-filled-mint:before { content: "\eb94"; }
.svgtofont-star:before { content: "\eb95"; }
.svgtofont-starEmpty:before { content: "\eb96"; }
.svgtofont-start-play:before { content: "\eb97"; }
.svgtofont-statement:before { content: "\eb98"; }
.svgtofont-sun:before { content: "\eb99"; }
.svgtofont-swap-coins:before { content: "\eb9a"; }
.svgtofont-swap-fees:before { content: "\eb9b"; }
.svgtofont-swap-icon:before { content: "\eb9c"; }
.svgtofont-swap-placeholder:before { content: "\eb9d"; }
.svgtofont-swap-tolerance:before { content: "\eb9e"; }
.svgtofont-sync:before { content: "\eb9f"; }
.svgtofont-system:before { content: "\eba0"; }
.svgtofont-tag:before { content: "\eba1"; }
.svgtofont-theme:before { content: "\eba2"; }
.svgtofont-third-party-guardian:before { content: "\eba3"; }
.svgtofont-ticket:before { content: "\eba4"; }
.svgtofont-timer:before { content: "\eba5"; }
.svgtofont-times:before { content: "\eba6"; }
.svgtofont-token-sign:before { content: "\eba7"; }
.svgtofont-tokens-icon:before { content: "\eba8"; }
.svgtofont-tokens:before { content: "\eba9"; }
.svgtofont-transaction-rate:before { content: "\ebaa"; }
.svgtofont-transactionReport:before { content: "\ebab"; }
.svgtofont-transactions:before { content: "\ebac"; }
.svgtofont-transfer-in-status:before { content: "\ebad"; }
.svgtofont-transfer-out-status:before { content: "\ebae"; }
.svgtofont-transfer-status:before { content: "\ebaf"; }
.svgtofont-trash:before { content: "\ebb0"; }
.svgtofont-triangle-down-small:before { content: "\ebb1"; }
.svgtofont-triangle-down:before { content: "\ebb2"; }
.svgtofont-triangle-up-small:before { content: "\ebb3"; }
.svgtofont-triangle-up:before { content: "\ebb4"; }
.svgtofont-trophy-alt-1:before { content: "\ebb5"; }
.svgtofont-trophy-alt:before { content: "\ebb6"; }
.svgtofont-trophy-mint:before { content: "\ebb7"; }
.svgtofont-unclaimed-gift:before { content: "\ebb8"; }
.svgtofont-unfollow:before { content: "\ebb9"; }
.svgtofont-union:before { content: "\ebba"; }
.svgtofont-unlock-switch:before { content: "\ebbb"; }
.svgtofont-use-avatar:before { content: "\ebbc"; }
.svgtofont-user-circle:before { content: "\ebbd"; }
.svgtofont-user-name:before { content: "\ebbe"; }
.svgtofont-user:before { content: "\ebbf"; }
.svgtofont-users:before { content: "\ebc0"; }
.svgtofont-verified-badge-nft:before { content: "\ebc1"; }
.svgtofont-verified-badge:before { content: "\ebc2"; }
.svgtofont-wallet-backup:before { content: "\ebc3"; }
.svgtofont-wallet-colored:before { content: "\ebc4"; }
.svgtofont-wallet-full-sign:before { content: "\ebc5"; }
.svgtofont-wallet-sign:before { content: "\ebc6"; }
.svgtofont-wallet-simple-sign:before { content: "\ebc7"; }
.svgtofont-wallet:before { content: "\ebc8"; }
.svgtofont-walletConnect:before { content: "\ebc9"; }
.svgtofont-warning-balance:before { content: "\ebca"; }
.svgtofont-warning-circle-solid-v2:before { content: "\ebcb"; }
.svgtofont-warning-circle-solid:before { content: "\ebcc"; }
.svgtofont-warning-orange:before { content: "\ebcd"; }
.svgtofont-warning-sign:before { content: "\ebce"; }
.svgtofont-warning:before { content: "\ebcf"; }
.svgtofont-wifi:before { content: "\ebd0"; }
.svgtofont-wrap-badge:before { content: "\ebd1"; }
.svgtofont-write-story:before { content: "\ebd2"; }
.svgtofont-x-logo:before { content: "\ebd3"; }
.svgtofont-x:before { content: "\ebd4"; }
.svgtofont-xGenie-ai-icon:before { content: "\ebd5"; }

$svgtofont-2fa-guardian: "\ea01";
$svgtofont-3d-avatar-center-seflie: "\ea02";
$svgtofont-3d-avatar-left-selfie: "\ea03";
$svgtofont-3d-avatar-right-selfie: "\ea04";
$svgtofont-MEX: "\ea05";
$svgtofont-QR: "\ea06";
$svgtofont-achievement-fill: "\ea07";
$svgtofont-achievement: "\ea08";
$svgtofont-active: "\ea09";
$svgtofont-address-book: "\ea0a";
$svgtofont-allow-notifications-icon: "\ea0b";
$svgtofont-announcement-badge: "\ea0c";
$svgtofont-apple-pay: "\ea0d";
$svgtofont-apple-wallet: "\ea0e";
$svgtofont-ar_icon: "\ea0f";
$svgtofont-arrow-down copy: "\ea10";
$svgtofont-arrow-down-a-z: "\ea11";
$svgtofont-arrow-down-full: "\ea12";
$svgtofont-arrow-down-simple: "\ea13";
$svgtofont-arrow-down: "\ea14";
$svgtofont-arrow-left-chevron: "\ea15";
$svgtofont-arrow-left: "\ea16";
$svgtofont-arrow-right-chevron: "\ea17";
$svgtofont-arrow-right-from-bracket: "\ea18";
$svgtofont-arrow-right: "\ea19";
$svgtofont-arrow-trend-up: "\ea1a";
$svgtofont-arrow-up copy: "\ea1b";
$svgtofont-arrow-up-simple: "\ea1c";
$svgtofont-arrow-up-to-line: "\ea1d";
$svgtofont-arrow-up: "\ea1e";
$svgtofont-arrow: "\ea1f";
$svgtofont-asterix: "\ea20";
$svgtofont-attention: "\ea21";
$svgtofont-avatar-direction-arrow: "\ea22";
$svgtofont-avatar-new-style-notification-icon: "\ea23";
$svgtofont-avatar-notification-icon: "\ea24";
$svgtofont-avatar-training-notification-icon: "\ea25";
$svgtofont-avatar: "\ea26";
$svgtofont-backup copy: "\ea27";
$svgtofont-backup-warning-icon: "\ea28";
$svgtofont-backup: "\ea29";
$svgtofont-balance-eye: "\ea2a";
$svgtofont-ban: "\ea2b";
$svgtofont-bars-sort-by: "\ea2c";
$svgtofont-bars: "\ea2d";
$svgtofont-bell-1: "\ea2e";
$svgtofont-bell-slash: "\ea2f";
$svgtofont-bell: "\ea30";
$svgtofont-bell_empty: "\ea31";
$svgtofont-binance: "\ea32";
$svgtofont-binanceCustomIcon: "\ea33";
$svgtofont-bitcoin: "\ea34";
$svgtofont-bitcoinCustomIcon: "\ea35";
$svgtofont-blog-post: "\ea36";
$svgtofont-bolt-slash: "\ea37";
$svgtofont-bolt: "\ea38";
$svgtofont-bronze: "\ea39";
$svgtofont-bsc: "\ea3a";
$svgtofont-building-columns: "\ea3b";
$svgtofont-buy-status: "\ea3c";
$svgtofont-calendar-sign: "\ea3d";
$svgtofont-calendar-xmark-sign: "\ea3e";
$svgtofont-calendar: "\ea3f";
$svgtofont-camera-button: "\ea40";
$svgtofont-camera: "\ea41";
$svgtofont-card copy: "\ea42";
$svgtofont-card-item-icon: "\ea43";
$svgtofont-card-kyc: "\ea44";
$svgtofont-card-trans-entertainment: "\ea45";
$svgtofont-card-trans-groceries: "\ea46";
$svgtofont-card-trans-health: "\ea47";
$svgtofont-card-trans-refund: "\ea48";
$svgtofont-card-trans-restaurants: "\ea49";
$svgtofont-card-trans-services: "\ea4a";
$svgtofont-card-trans-shopping: "\ea4b";
$svgtofont-card-trans-transport: "\ea4c";
$svgtofont-card-trans-travel: "\ea4d";
$svgtofont-card-trans-utilities: "\ea4e";
$svgtofont-card-trans-withdrawal: "\ea4f";
$svgtofont-card: "\ea50";
$svgtofont-carret-down: "\ea51";
$svgtofont-carret-up: "\ea52";
$svgtofont-cash-filled: "\ea53";
$svgtofont-cash-outline: "\ea54";
$svgtofont-cashback: "\ea55";
$svgtofont-catalaFlag: "\ea56";
$svgtofont-chainActivity: "\ea57";
$svgtofont-chains: "\ea58";
$svgtofont-chart-mixed: "\ea59";
$svgtofont-chart-pie-inversed: "\ea5a";
$svgtofont-chart-pie-simple: "\ea5b";
$svgtofont-chat-icon-settings: "\ea5c";
$svgtofont-chat-toolbar: "\ea5d";
$svgtofont-chat: "\ea5e";
$svgtofont-chatIcon: "\ea5f";
$svgtofont-check-badge: "\ea60";
$svgtofont-check-sign: "\ea61";
$svgtofont-check-thin: "\ea62";
$svgtofont-check: "\ea63";
$svgtofont-check_mark_badge: "\ea64";
$svgtofont-checkbox-checked: "\ea65";
$svgtofont-checkbox-unchecked: "\ea66";
$svgtofont-checked-nft: "\ea67";
$svgtofont-checkmark-bold: "\ea68";
$svgtofont-chevron-down: "\ea69";
$svgtofont-chevron-left: "\ea6a";
$svgtofont-chevron-right: "\ea6b";
$svgtofont-chevron: "\ea6c";
$svgtofont-chevronDown: "\ea6d";
$svgtofont-circle-check-filled: "\ea6e";
$svgtofont-circle-check-group-filled: "\ea6f";
$svgtofont-circle-check-group: "\ea70";
$svgtofont-circle-check: "\ea71";
$svgtofont-circle-clock: "\ea72";
$svgtofont-circle-close: "\ea73";
$svgtofont-circle-exclamation: "\ea74";
$svgtofont-circle-question: "\ea75";
$svgtofont-circle-warning: "\ea76";
$svgtofont-circle-xmark: "\ea77";
$svgtofont-clipboard-paste-arrow: "\ea78";
$svgtofont-clipboard: "\ea79";
$svgtofont-clock-alt: "\ea7a";
$svgtofont-clock: "\ea7b";
$svgtofont-coin-ghost: "\ea7c";
$svgtofont-coin-placeholder: "\ea7d";
$svgtofont-coins-icon: "\ea7e";
$svgtofont-coins-right: "\ea7f";
$svgtofont-copy: "\ea80";
$svgtofont-country: "\ea81";
$svgtofont-cover-photo: "\ea82";
$svgtofont-create-3d-avatar: "\ea83";
$svgtofont-credit-card: "\ea84";
$svgtofont-crown: "\ea85";
$svgtofont-crypto-filled: "\ea86";
$svgtofont-crypto-outline: "\ea87";
$svgtofont-crypto: "\ea88";
$svgtofont-currency: "\ea89";
$svgtofont-custom-notification: "\ea8a";
$svgtofont-customization: "\ea8b";
$svgtofont-dark: "\ea8c";
$svgtofont-deafault_coin_logo: "\ea8d";
$svgtofont-default-logo-elrond: "\ea8e";
$svgtofont-default-logo-meta: "\ea8f";
$svgtofont-delete-icon: "\ea90";
$svgtofont-delete-width-border: "\ea91";
$svgtofont-delete: "\ea92";
$svgtofont-description: "\ea93";
$svgtofont-desktop: "\ea94";
$svgtofont-diamond: "\ea95";
$svgtofont-discover-filled: "\ea96";
$svgtofont-discover-outline: "\ea97";
$svgtofont-document-check: "\ea98";
$svgtofont-document-shield: "\ea99";
$svgtofont-doge: "\ea9a";
$svgtofont-dollar-full-sign: "\ea9b";
$svgtofont-dollar-sign: "\ea9c";
$svgtofont-dots-h: "\ea9d";
$svgtofont-dots: "\ea9e";
$svgtofont-download: "\ea9f";
$svgtofont-eGold: "\eaa0";
$svgtofont-editAddress: "\eaa1";
$svgtofont-egld-round-background: "\eaa2";
$svgtofont-egld: "\eaa3";
$svgtofont-egldCustomIcon: "\eaa4";
$svgtofont-ellipsis: "\eaa5";
$svgtofont-ellipsisVertical: "\eaa6";
$svgtofont-email: "\eaa7";
$svgtofont-empty-star: "\eaa8";
$svgtofont-empty-state-portfolio: "\eaa9";
$svgtofont-equals: "\eaaa";
$svgtofont-error-badge: "\eaab";
$svgtofont-error: "\eaac";
$svgtofont-ethereum: "\eaad";
$svgtofont-ethereumCustomIcon: "\eaae";
$svgtofont-euro: "\eaaf";
$svgtofont-euskaraFlag: "\eab0";
$svgtofont-exchange: "\eab1";
$svgtofont-exclamation: "\eab2";
$svgtofont-exclamation_mark: "\eab3";
$svgtofont-experimental-icon: "\eab4";
$svgtofont-expired-gift: "\eab5";
$svgtofont-external-link: "\eab6";
$svgtofont-eye-filled: "\eab7";
$svgtofont-eye-gray: "\eab8";
$svgtofont-eye-hidden: "\eab9";
$svgtofont-eye-outlined: "\eaba";
$svgtofont-eye: "\eabb";
$svgtofont-face-id: "\eabc";
$svgtofont-faceId: "\eabd";
$svgtofont-failed-icon: "\eabe";
$svgtofont-failed-status: "\eabf";
$svgtofont-fee-icon: "\eac0";
$svgtofont-female: "\eac1";
$svgtofont-file-icon: "\eac2";
$svgtofont-file: "\eac3";
$svgtofont-fill-heart: "\eac4";
$svgtofont-filter: "\eac5";
$svgtofont-find-friends: "\eac6";
$svgtofont-fingerprint: "\eac7";
$svgtofont-fire-flame-curved: "\eac8";
$svgtofont-fire-flame-filled: "\eac9";
$svgtofont-fire-notification: "\eaca";
$svgtofont-flag: "\eacb";
$svgtofont-follow: "\eacc";
$svgtofont-four-dots: "\eacd";
$svgtofont-friend-request: "\eace";
$svgtofont-friends: "\eacf";
$svgtofont-full-arrow: "\ead0";
$svgtofont-galegoFlag: "\ead1";
$svgtofont-gear: "\ead2";
$svgtofont-gem: "\ead3";
$svgtofont-gift-card: "\ead4";
$svgtofont-gift-filled: "\ead5";
$svgtofont-gift-outline: "\ead6";
$svgtofont-gift: "\ead7";
$svgtofont-globe: "\ead8";
$svgtofont-gold: "\ead9";
$svgtofont-google-pay: "\eada";
$svgtofont-guarded-backup: "\eadb";
$svgtofont-guarded-wallet: "\eadc";
$svgtofont-guardian-alert-badge: "\eadd";
$svgtofont-guardian-alert: "\eade";
$svgtofont-guardian-ready: "\eadf";
$svgtofont-guardian: "\eae0";
$svgtofont-guardians: "\eae1";
$svgtofont-hammer-law: "\eae2";
$svgtofont-hashtag: "\eae3";
$svgtofont-heart: "\eae4";
$svgtofont-help-chat: "\eae5";
$svgtofont-help-circle-2: "\eae6";
$svgtofont-help-circle-settings: "\eae7";
$svgtofont-help: "\eae8";
$svgtofont-herotag-icon: "\eae9";
$svgtofont-herotag: "\eaea";
$svgtofont-hidden-eye: "\eaeb";
$svgtofont-hourglass-shape: "\eaec";
$svgtofont-hub: "\eaed";
$svgtofont-icon-circle-check-v2: "\eaee";
$svgtofont-icon-circle-check: "\eaef";
$svgtofont-icon-circle-flag: "\eaf0";
$svgtofont-icon-circle-x-v2: "\eaf1";
$svgtofont-icon-circle-x: "\eaf2";
$svgtofont-icon-wand: "\eaf3";
$svgtofont-iconRight: "\eaf4";
$svgtofont-id: "\eaf5";
$svgtofont-image-alt-icon: "\eaf6";
$svgtofont-image-icon: "\eaf7";
$svgtofont-income: "\eaf8";
$svgtofont-info-circle-settings: "\eaf9";
$svgtofont-info-circle-solid: "\eafa";
$svgtofont-info-circle: "\eafb";
$svgtofont-info-gray: "\eafc";
$svgtofont-info-new: "\eafd";
$svgtofont-input-error: "\eafe";
$svgtofont-input-success: "\eaff";
$svgtofont-input-warn: "\eb00";
$svgtofont-insider-icon: "\eb01";
$svgtofont-internal-status: "\eb02";
$svgtofont-internal-transaction: "\eb03";
$svgtofont-invisible-guardian: "\eb04";
$svgtofont-key: "\eb05";
$svgtofont-kraken: "\eb06";
$svgtofont-kyc: "\eb07";
$svgtofont-language: "\eb08";
$svgtofont-learn: "\eb09";
$svgtofont-level-up: "\eb0a";
$svgtofont-light-bulb: "\eb0b";
$svgtofont-light: "\eb0c";
$svgtofont-link: "\eb0d";
$svgtofont-list-ul: "\eb0e";
$svgtofont-location: "\eb0f";
$svgtofont-lock-1: "\eb10";
$svgtofont-lock-2: "\eb11";
$svgtofont-lock-filled: "\eb12";
$svgtofont-lock-round-background: "\eb13";
$svgtofont-lock-switch: "\eb14";
$svgtofont-lock: "\eb15";
$svgtofont-locked-indicator: "\eb16";
$svgtofont-locker: "\eb17";
$svgtofont-lockerMouth: "\eb18";
$svgtofont-log-out: "\eb19";
$svgtofont-logo-foreground-error: "\eb1a";
$svgtofont-logo-foreground-pending: "\eb1b";
$svgtofont-logo-foreground: "\eb1c";
$svgtofont-logo-full: "\eb1d";
$svgtofont-lowest-price: "\eb1e";
$svgtofont-lowest-rank: "\eb1f";
$svgtofont-male: "\eb20";
$svgtofont-map-address: "\eb21";
$svgtofont-market-outline: "\eb22";
$svgtofont-market: "\eb23";
$svgtofont-mastercard-idcheck: "\eb24";
$svgtofont-mastercard-logo: "\eb25";
$svgtofont-message-square-1: "\eb26";
$svgtofont-message-square: "\eb27";
$svgtofont-message: "\eb28";
$svgtofont-messages: "\eb29";
$svgtofont-minus-dash: "\eb2a";
$svgtofont-mobile-notch-1: "\eb2b";
$svgtofont-mobile-notch: "\eb2c";
$svgtofont-modal-illustrations: "\eb2d";
$svgtofont-money-bill-wave: "\eb2e";
$svgtofont-moon: "\eb2f";
$svgtofont-mx-icon: "\eb30";
$svgtofont-mystery-box-reward-icon: "\eb31";
$svgtofont-mystery_box: "\eb32";
$svgtofont-mystery_box_opened: "\eb33";
$svgtofont-network: "\eb34";
$svgtofont-nft-burn-badge: "\eb35";
$svgtofont-nft-claim-badge: "\eb36";
$svgtofont-nft-fallback: "\eb37";
$svgtofont-nft: "\eb38";
$svgtofont-nfts-counter: "\eb39";
$svgtofont-no-fire: "\eb3a";
$svgtofont-no-notifications-icon: "\eb3b";
$svgtofont-note-sign: "\eb3c";
$svgtofont-notifications: "\eb3d";
$svgtofont-paste: "\eb3e";
$svgtofont-path: "\eb3f";
$svgtofont-pencil-edit: "\eb40";
$svgtofont-pencil: "\eb41";
$svgtofont-pending-badge: "\eb42";
$svgtofont-pending-status: "\eb43";
$svgtofont-personal-data: "\eb44";
$svgtofont-pin: "\eb45";
$svgtofont-plane-filled: "\eb46";
$svgtofont-plane: "\eb47";
$svgtofont-play-filled: "\eb48";
$svgtofont-play-outline: "\eb49";
$svgtofont-play: "\eb4a";
$svgtofont-plus-circle: "\eb4b";
$svgtofont-plus-icon: "\eb4c";
$svgtofont-plus: "\eb4d";
$svgtofont-political-exposure: "\eb4e";
$svgtofont-polygon: "\eb4f";
$svgtofont-price-down-badge: "\eb50";
$svgtofont-price-up-badge: "\eb51";
$svgtofont-privacy: "\eb52";
$svgtofont-profile-picture: "\eb53";
$svgtofont-progress: "\eb54";
$svgtofont-protected: "\eb55";
$svgtofont-public-account: "\eb56";
$svgtofont-quest-default: "\eb57";
$svgtofont-quotes: "\eb58";
$svgtofont-radio-circle: "\eb59";
$svgtofont-receipt-outlined: "\eb5a";
$svgtofont-receipt: "\eb5b";
$svgtofont-receive-crypto-icons: "\eb5c";
$svgtofont-receive-with-background: "\eb5d";
$svgtofont-received-gift: "\eb5e";
$svgtofont-recents: "\eb5f";
$svgtofont-refresh: "\eb60";
$svgtofont-registration-fee: "\eb61";
$svgtofont-reload: "\eb62";
$svgtofont-repair-icon: "\eb63";
$svgtofont-report: "\eb64";
$svgtofont-reward-badge: "\eb65";
$svgtofont-rewards: "\eb66";
$svgtofont-ron: "\eb67";
$svgtofont-rotate-left: "\eb68";
$svgtofont-rotate-right: "\eb69";
$svgtofont-rounded-corners-icon: "\eb6a";
$svgtofont-save-no-color: "\eb6b";
$svgtofont-save-to-photos: "\eb6c";
$svgtofont-save: "\eb6d";
$svgtofont-saved-no-color: "\eb6e";
$svgtofont-saved: "\eb6f";
$svgtofont-savedAddresses: "\eb70";
$svgtofont-scan: "\eb71";
$svgtofont-scanQR: "\eb72";
$svgtofont-search: "\eb73";
$svgtofont-selected-circle: "\eb74";
$svgtofont-selectedCheck: "\eb75";
$svgtofont-sell-status: "\eb76";
$svgtofont-send-exchange: "\eb77";
$svgtofont-send-message: "\eb78";
$svgtofont-send-nft: "\eb79";
$svgtofont-send-wit-background: "\eb7a";
$svgtofont-send: "\eb7b";
$svgtofont-sent-gift: "\eb7c";
$svgtofont-sent-status: "\eb7d";
$svgtofont-set-as-avatar: "\eb7e";
$svgtofont-set-nft: "\eb7f";
$svgtofont-set-photo: "\eb80";
$svgtofont-settings-filled: "\eb81";
$svgtofont-settings: "\eb82";
$svgtofont-share-native: "\eb83";
$svgtofont-share: "\eb84";
$svgtofont-shield-check: "\eb85";
$svgtofont-shield-keyhole 1: "\eb86";
$svgtofont-shield-keyhole: "\eb87";
$svgtofont-shield: "\eb88";
$svgtofont-shopping-bag: "\eb89";
$svgtofont-signOut: "\eb8a";
$svgtofont-signature: "\eb8b";
$svgtofont-silver: "\eb8c";
$svgtofont-simple-flag: "\eb8d";
$svgtofont-small-check-circle-mint: "\eb8e";
$svgtofont-solana: "\eb8f";
$svgtofont-sort-by: "\eb90";
$svgtofont-square-question: "\eb91";
$svgtofont-stake-notification-icon: "\eb92";
$svgtofont-star-badge: "\eb93";
$svgtofont-star-filled-mint: "\eb94";
$svgtofont-star: "\eb95";
$svgtofont-starEmpty: "\eb96";
$svgtofont-start-play: "\eb97";
$svgtofont-statement: "\eb98";
$svgtofont-sun: "\eb99";
$svgtofont-swap-coins: "\eb9a";
$svgtofont-swap-fees: "\eb9b";
$svgtofont-swap-icon: "\eb9c";
$svgtofont-swap-placeholder: "\eb9d";
$svgtofont-swap-tolerance: "\eb9e";
$svgtofont-sync: "\eb9f";
$svgtofont-system: "\eba0";
$svgtofont-tag: "\eba1";
$svgtofont-theme: "\eba2";
$svgtofont-third-party-guardian: "\eba3";
$svgtofont-ticket: "\eba4";
$svgtofont-timer: "\eba5";
$svgtofont-times: "\eba6";
$svgtofont-token-sign: "\eba7";
$svgtofont-tokens-icon: "\eba8";
$svgtofont-tokens: "\eba9";
$svgtofont-transaction-rate: "\ebaa";
$svgtofont-transactionReport: "\ebab";
$svgtofont-transactions: "\ebac";
$svgtofont-transfer-in-status: "\ebad";
$svgtofont-transfer-out-status: "\ebae";
$svgtofont-transfer-status: "\ebaf";
$svgtofont-trash: "\ebb0";
$svgtofont-triangle-down-small: "\ebb1";
$svgtofont-triangle-down: "\ebb2";
$svgtofont-triangle-up-small: "\ebb3";
$svgtofont-triangle-up: "\ebb4";
$svgtofont-trophy-alt-1: "\ebb5";
$svgtofont-trophy-alt: "\ebb6";
$svgtofont-trophy-mint: "\ebb7";
$svgtofont-unclaimed-gift: "\ebb8";
$svgtofont-unfollow: "\ebb9";
$svgtofont-union: "\ebba";
$svgtofont-unlock-switch: "\ebbb";
$svgtofont-use-avatar: "\ebbc";
$svgtofont-user-circle: "\ebbd";
$svgtofont-user-name: "\ebbe";
$svgtofont-user: "\ebbf";
$svgtofont-users: "\ebc0";
$svgtofont-verified-badge-nft: "\ebc1";
$svgtofont-verified-badge: "\ebc2";
$svgtofont-wallet-backup: "\ebc3";
$svgtofont-wallet-colored: "\ebc4";
$svgtofont-wallet-full-sign: "\ebc5";
$svgtofont-wallet-sign: "\ebc6";
$svgtofont-wallet-simple-sign: "\ebc7";
$svgtofont-wallet: "\ebc8";
$svgtofont-walletConnect: "\ebc9";
$svgtofont-warning-balance: "\ebca";
$svgtofont-warning-circle-solid-v2: "\ebcb";
$svgtofont-warning-circle-solid: "\ebcc";
$svgtofont-warning-orange: "\ebcd";
$svgtofont-warning-sign: "\ebce";
$svgtofont-warning: "\ebcf";
$svgtofont-wifi: "\ebd0";
$svgtofont-wrap-badge: "\ebd1";
$svgtofont-write-story: "\ebd2";
$svgtofont-x-logo: "\ebd3";
$svgtofont-x: "\ebd4";
$svgtofont-xGenie-ai-icon: "\ebd5";

